*{
  box-sizing:border-box;
  position:relative;
}

html{
  font-family: 'Roboto', sans-serif;
}

html, body{
  width: 100%;
  float: left;
  height: 100%;
  font-size: 14px;
}

header{
  width:100%;
  float:left;
  height: auto;
  padding: 20px 10%;
}

header .navigation{
  overflow: hidden;
  width: 30px;
  height: 20px;
  float: right;
  cursor: pointer;
}

header .navigation span{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: rgba( 0, 0, 0, 1 );
}

header .navigation span{
  transition: none;
}

header .navigation.active span{
  transition: transform 0.6s;
}

header .navigation.active span:nth-child(1) {
  top: -10px;
}

header .navigation.active span:nth-child(2) {
  top: 50%;
  transform: rotate( 45deg );
}

header .navigation.active span:nth-child(4) {
  top: 50%;
  transform: rotate( -45deg );
}

header .navigation.active span:nth-child(3) {
  bottom: -10px;
}

.logo {
  float: left;
}

header {
  z-index: 99999999999999999;
  background: rgba( 250, 250, 250, 1 );
  transition: background 0.9s;
}

header .navigation span:nth-child(2) {
  top: calc( 50% - 1px );
}

header .navigation span:nth-child(3) {
  bottom: 0px;
  top: unset;

}

header.is-fixed {
  background: rgba( 250, 250, 250, 0.8 );
}

body {
  float: none;
}

.banner {
  color: #fff;
  width: 100%;
  float: left;
  height: auto;
  min-height: calc( 100vh - 56px );
  /* min-height: 100vh; */
  text-align: center;
  background: #6f1616;
  display: inline-block;
}

button, .button{
  color: inherit;
  border: 0;
  outline: 0;
  background: inherit;
  cursor: pointer;
  padding: 8px 12px;
  background: red;
  border-radius: 16px;
}

.perspective {
  width:100%;
  height: 100%;
}

.banner .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
  z-index: 9999999;
}

.content {
  width: 100%;
  float:left;
  height:auto;
  padding: 20px 0;
}

.content .inner{
  width: 100%;
  float: left;
  height:auto;
  padding: 0 20%;
}

/* Effect Move Left */
.effect-moveleft {
  background: #eeeeee;
}

.container{
  float:left;
  background: #fff;
}

.effect-moveleft .container {
  transition: transform 0.4s;
  transform-origin: 50% 50%;
}

.effect-moveleft .container::after {
  background: rgba(255,255,255,0.6);
}

.effect-moveleft.animate .container {
  transform: translateX(-50%) rotateY(45deg) translateZ(-50px);
}

/* Fallback */
.no-csstransforms3d .effect-moveleft.animate .container {
  left: -75%;
}

/* Navigation */
.effect-moveleft .outer-nav a {
  color: #e86a32;
  opacity: 0;
  transform: translateX(100px) translateZ(-1000px);
  transition: transform 0.4s, opacity 0.4s;
}

.effect-moveleft .outer-nav a:hover {
  color: #333;
}

.effect-moveleft.animate .outer-nav a {
  opacity: 1;
  transform: translateX(0) translateZ(0);
}

.effect-moveleft.animate .outer-nav a:nth-child(2) {
  transition-delay: 0.04s;
}

.effect-moveleft.animate .outer-nav a:nth-child(3) {
  transition-delay: 0.08s;
}

.effect-moveleft.animate .outer-nav a:nth-child(4) {
  transition-delay: 0.12s;
}

.effect-moveleft.animate .outer-nav a:nth-child(5) {
  transition-delay: 0.16s;
}

.effect-moveleft.animate .outer-nav a:nth-child(6) {
  transition-delay: 0.2s;
}

.effect-moveleft.animate .outer-nav a:nth-child(7) {
  transition-delay: 0.24s;
}


nav.outer-nav.left.vertical {
    position: absolute;
    top: 50%;
    right: 25%;
    transform: translateY(-50%);
    display: grid;
    grid-template-columns: 1fr;
}

nav a{
  display:block;
  text-align: center;
  height:auto;
  padding: 10px 5px;
  text-decoration: none;
}

.perspective.modelview {
  position: fixed;
  -webkit-perspective: 1500px;
  perspective: 1500px; 
 }

